{% extends 'layouts/base.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Reset your password{% endblock %}

{% block body %}
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-6 d-flex justify-content-center align-items-center bg-info"> <!-- Updated class -->
        <div>
            <img src="{{ static_url_for('static', filename='images/appmonstalogo_black.png') }}" alt="AppMonsta" class="img-fluid" style="width: 500px;"> <!-- Bootstrap's img-fluid -->
        </div>
      </div>
      
      <div class="col-6 d-flex justify-content-center align-items-center">
        <div class="form-container">
            {% call f.form_tag('user.begin_password_reset') %}
            <h2 class="mt-2 mb-4">Reset your password</h2>
            <p>
              We'll send you an email to reset your password.
            </p>

            {% call f.form_group(form.identity, autofocus='autofocus') %}
            {% endcall %}

            <div class="row mb-3">
              <div class="col-md-6">
                <button type="submit" class="btn btn-primary btn-block">
                  Continue
                </button>
              </div>
              <div class="col-md-6">
                <a href="{{ url_for('user.login') }}"
                    class="btn am-secondary-btn btn-block">
                  Back to login
                </a>
              </div>
            </div>
          {% endcall %}
        </div>
        {% block footer %}
        {% endblock %}
      </div>

    </div>
  </div>
{% endblock %}
