{% extends 'layouts/app.html' %} {% import 'macros/form.html' as f with context %}{% block title %}Dashboard{% endblock %}{% block body %}
<div class="container-fluid p-0">
    <div class="bg-theme-light p-5">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="fw-bold fs-2">
                Unlock App Market Insights with AppMonsta Ignite
                <br />
                <span class="text-themecolor">Power your success</span>
            </h1>
            <span>
                <img
                    src="{{ static_url_for('static', filename='images/dashboard.svg') }}"
                    class="img-fluid"
                    width="100px"
                    alt="dashboard img"
                />
            </span>
        </div>
        <p class="text-white fs-6 mt-3 mb-0 pb-0">
            Browse Google Play top charts by country, category, and date. See
            the top paid apps, free apps, and grossing apps
        </p>
    </div>

    <div class="mb-4 px-5 my-4">
        <h3 class="fs-5 fw-bold pb-2" style="border-bottom: 1px solid #4fb5ef">
            Top Charts
        </h3>
    </div>
    <div class="mx-5 mb-4">
        <form id="filters-form" action="" method="POST">
            <div class="row">
                <div class="col-md-3 md-mb-0 mb-2">
                    <div class="card h-100 theme-border-main">
                        <div class="card-body pb-0">
                            <div>
                                <div
                                    class="d-flex align-items-center gap-2 fs-6"
                                >
                                    <i class="fa fa-cube text-primary"></i>
                                    <span>Platform</span>
                                </div>
                                <div
                                    class="d-flex align-items-center gap-2 fs-6 fw-bold mt-2"
                                >
                                    <select
                                        class="form-select border-0"
                                        id="platform-dropdown"
                                    >
                                        <option value="">Platform</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 md-mb-0 mb-2">
                    <div class="card h-100 theme-border-main">
                        <div class="card-body pb-0">
                            <div>
                                <div
                                    class="d-flex align-items-center gap-2 fs-6"
                                >
                                    <i class="fa fa-globe text-primary"></i>
                                    <span>Country</span>
                                </div>
                                <div
                                    class="d-flex align-items-center gap-2 fs-6 fw-bold mt-2"
                                >
                                    <select
                                        id="country-dropdown"
                                        class="form-select border-0"
                                    >
                                        <option value="">Country</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 md-mb-0 mb-2">
                    <div class="card h-100 theme-border-main">
                        <div class="card-body pb-0">
                            <div>
                                <div
                                    class="d-flex align-items-center gap-2 fs-6"
                                >
                                    <i class="fa fa-table text-primary"></i>
                                    <span>Category</span>
                                </div>
                                <div
                                    class="d-flex align-items-center gap-2 fs-6 fw-bold mt-2"
                                >
                                    <select
                                        class="form-control border-0"
                                        id="category-dropdown"
                                    >
                                        <option value="">Category</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 md-mb-0 mb-2">
                    <div class="card h-100 theme-border-main">
                        <div class="card-body pb-0">
                            <div>
                                <div
                                    class="d-flex align-items-center gap-2 fs-6"
                                >
                                    <i class="fa fa-calendar text-primary"></i>
                                    <span>Select a day</span>
                                </div>
                                <div
                                    class="d-flex align-items-center gap-2 fs-6 fw-bold mt-2"
                                >
                                    <input
                                        type="date"
                                        id="date-picker"
                                        name="date"
                                        class="form-control border-0"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-end my-2">
                <button
                    class="btn btn-primary"
                    type="submit"
                    id="filter-form-button"
                >
                    <span
                        class="spinner-border spinner-border-sm submitButtonSpinner"
                        role="status"
                        aria-hidden="true"
                        style="display: none"
                    ></span>
                    Apply Filters
                </button>
            </div>
        </form>
    </div>
    <div class="mx-5 mb-4">
        <div class="card w-100 rounded">
            <div class="p-3 table-responsive">
                <table
                    id="display_apps_table"
                    class="table table-borderless custom-table-striped"
                >
                    <thead>
                        <tr>
                            <th class="fw-bold">
                                <i class="fa fa-trophy fs-5"></i>
                            </th>
                            <th
                                class="fs-5 fw-bold"
                                style="
                                    border-right: 1px solid #4fb5ef;
                                    width: 33.33%;
                                "
                            >
                                Top Free
                            </th>
                            <th
                                class="fs-5 fw-bold"
                                style="
                                    border-right: 1px solid #4fb5ef;
                                    width: 33.33%;
                                "
                            >
                                Top Paid
                            </th>
                            <th class="fs-5 fw-bold" style="width: 33.33%">
                                Top Grossing
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4" class="text-center text-primary">
                                Apply filters to view data
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    function formatDate(date) {
        var d = new Date(date),
            month = "" + (d.getMonth() + 1),
            day = "" + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = "0" + month;
        if (day.length < 2) day = "0" + day;

        return [year, month, day].join("-");
    }

    $(document).ready(function () {
        // Setup AJAX with CSRF Token
        let csrfToken = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content");

        // date picker setup
        document.addEventListener("DOMContentLoaded", function () {
            var datePicker = document.getElementById("date-picker");
            var today = new Date();
            var twoYearsAgo = new Date(
                new Date().setFullYear(today.getFullYear() - 2)
            );

            datePicker.setAttribute("max", today.toISOString().split("T")[0]); // today's date
            datePicker.setAttribute(
                "min",
                twoYearsAgo.toISOString().split("T")[0]
            ); // two years ago
        });

        $.ajaxSetup({
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrfToken);
            },
        });
        $.ajax({
            url: "/dashboard/dropdowns", // Adjusted URL to new endpoint
            method: "GET",
            success: function (data) {
                // Populate platforms dropdown
                data.platforms.forEach(function (platform) {
                    $("#platform-dropdown").append(
                        new Option(platform.name, platform.value)
                    );
                });
                // Populate countries dropdown
                data.countries.forEach(function (country) {
                    $("#country-dropdown").append(
                        new Option(country.name, country.value)
                    );
                });
                // Additional dropdowns can be populated similarly
                data.categories.forEach(function (category) {
                    $("#category-dropdown").append(
                        new Option(category.name, category.value)
                    );
                });
                data.dates.forEach(function (date) {
                    $("#date-dropdown").append(
                        new Option(date.name, date.value)
                    );
                });
            },
            error: function () {
                console.log("Error fetching data");
            },
        });
    });

    function generateStars(rating) {
        const fullStars = Math.floor(rating);
        const halfStar = rating % 1 !== 0;
        let starsHtml = "";

        for (let i = 0; i < fullStars; i++) {
            starsHtml += '<i class="fa fa-star text-warning"></i>';
        }
        if (halfStar) {
            starsHtml += '<i class="fa fa-star-half-o text-warning"></i>';
        }
        for (let i = fullStars + halfStar; i < 5; i++) {
            starsHtml += '<i class="fa fa-star-o text-warning"></i>';
        }
        return starsHtml;
    }

    // Function to generate the table row
    const defaultIcon = "https://static.thenounproject.com/png/4700132-200.png";
    function generateTableRow(index, app, type) {
        const iconUrl = app.icon || defaultIcon;
        return `
            <td style="border-right: 1px solid #4fb5ef;">
                <div class="d-flex align-items-center w-100 gap-2">
                    <img src="${iconUrl}" alt="${
            app.name
        }" class="rounded" style="width: 50px"/>
                    <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                            <h3 class="fs-6 fw-bold mb-0 text-primary">${
                                app.name
                            }</h3>
                            <p class="fs-8 mb-0">${app.publisher}</p>
                        </div>
                        <div class="d-flex flex-column justify-content-end gap-1 align-items-end">
                            <div class="">
                                ${generateStars(app.rating)}
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="me-2">(${app.rating})</span>
                                <span class="badge bg-success">${type}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        `;
    }

    // Function to populate the table
    function populateTable(data) {
        const tbody = $("#display_apps_table tbody");
        tbody.empty(); // Clear existing rows

        const maxLength = Math.max(
            data.freeApps.length,
            data.grossingApps.length,
            data.paidApps.length
        );

        for (let i = 0; i < maxLength; i++) {
            let rowHtml = `<tr><td class="h-100 fw-bold text-center fs-5" style="vertical-align: middle;">${
                i + 1
            }</td>`;

            if (data.freeApps[i]) {
                rowHtml += generateTableRow(i, data.freeApps[i], "Free");
            } else {
                rowHtml += '<td style="border-right: 1px solid #4fb5ef"></td>';
            }

            if (data.paidApps[i]) {
                rowHtml += generateTableRow(i, data.paidApps[i], "Paid");
            } else {
                rowHtml += '<td style="border-right: 1px solid #4fb5ef"></td>';
            }

            if (data.grossingApps[i]) {
                rowHtml += generateTableRow(
                    i,
                    data.grossingApps[i],
                    "Grossing"
                );
            } else {
                rowHtml += "<td></td>";
            }

            rowHtml += "</tr>";
            tbody.append(rowHtml);
        }
    }

    $("#filters-form").on("submit", function (e) {
        e.preventDefault();
        $(".submitButtonSpinner").show();
        $("#filter-form-button").prop("disabled", true);
        var formData = {
            platform: $("#platform-dropdown").val(),
            country: $("#country-dropdown").val(),
            category: $("#category-dropdown").val(),
            date: $("#date-picker").val(),
        };
        let csrfToken = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content");
        $.ajax({
            url: "/dashboard/get-apps-data",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(formData),
            dataType: "json",
            headers: {
                "X-CSRFToken": csrfToken,
            },
            success: function (response) {
                $(".submitButtonSpinner").hide();
                $("#filter-form-button").prop("disabled", false);
                if (
                    response.freeApps.length === 0 &&
                    response.grossingApps.length === 0 &&
                    response.paidApps.length === 0
                ) {
                    // No data to display
                    $("#display_apps_table tbody").html(
                        '<tr><td colspan="4" class="text-center">No data available</td></tr>'
                    );
                } else {
                    populateTable(response);
                }
            },
            error: function () {
                $(".submitButtonSpinner").hide();
                $("#filter-form-button").prop("disabled", false);
                alert("Failed to fetch data. Please try again.");
                $("#display_apps_table tbody").html(
                    '<tr><td colspan="4" class="text-center text-danger">Error loading data</td></tr>'
                );
            },
        });
    });
</script>
{% endblock %}
