{% extends 'layouts/base.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Enter a new password{% endblock %}

{% block body %}
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-6 d-flex justify-content-center align-items-center bg-info"> <!-- Updated class -->
        <div>
            <img src="{{ static_url_for('static', filename='images/appmonstalogo_black.png') }}" alt="AppMonsta" class="img-fluid" style="width: 500px;"> <!-- Bootstrap's img-fluid -->
        </div>
      </div>
      
      <div class="col-6 d-flex justify-content-center align-items-center">
        <div class="form-container">
          {% call f.form_tag('user.password_reset') %}
            <h2 class="mt-2 mb-4">Enter a new password</h2>

            {% call f.form_group(form.password) %}{% endcall %}

            <div class="row mb-3">
              <div class="col-md-6">
                <button type="submit" class="btn btn-primary btn-block">
                  Continue
                </button>
              </div>
              <div class="col-md-6">
                <a href="{{ url_for('user.login') }}"
                  class="btn btn-outline-secondary btn-block">
                  Back to login
                </a>
              </div>
            </div>
          {% endcall %}

        </div>
        {% block footer %}
        {% endblock %}
      </div>


    </div>
  </div>
{% endblock %}
