{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}
{% import 'billing/macros/billing.html' as billing %}

{% block title %}Purchase Tokens{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 card bg-light">
        {% call f.form_tag('billing.purchase_coins', fid='payment_form') %}
          <h2 class="mb-4">{{ _('Purchase Tokens') }}</h2>

          {% call f.form_group(form.coin_bundles) %}
          {% endcall %}

          {{ billing.payment_form(form, 'Process payment', True) }}
        {% endcall %}
      </div>
    </div>
  </div>
{% endblock %}
