<style>
    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        padding: 0;
        background-color: #ffffff;
        margin-top: 0;
    }

    .sidebar .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar .nav-item {
        width: 100%;
    }

    .sidebar .nav-link {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        width: 80%;
        margin: 0 auto;
    }

    .sidebar .nav-link i {
        margin-right: 0.5rem;
    }

    .sidebar .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.5rem;
        z-index: 1051;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1040;
    }

    .nav-link.active {
        color: #2b2b2b;
    }

    /* New styles for active link icon */
    .nav-link.active i {
        color: #AECDE2; 
    }

    .nav-link.inactive {
        color: #D4D4D4;
    }

    .sidebar-logo {
        padding: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .sidebar-footer {
        padding: 1rem;
        text-align: center;
    }
</style>


<nav class="col-md-2 d-md-block sidebar collapse text-center" id="sidebarMenu">
    <div class="d-flex flex-column" style="height: 100vh; padding-top: 48px;">
        <div>
            <div class="sidebar-logo">
                <img src="{{ static_url_for('static', filename='images/appmonstalogo_black.png') }}" alt="AppMonsta Logo" class="img-fluid">
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == '/dashboard' else 'inactive' }}" href="{{ url_for('user.dashboard') }}">
                        <i class="fas fa-tachometer-alt"></i> Dashboard <!-- Adjusted icon class -->
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == '/gpt/main' else 'inactive' }}" href="{{ url_for('gpt.main') }}">
                        <i class="fas fa-fw fa-database"></i> Gaming GPT <!-- Adjusted icon class -->
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path.startswith('/insights') or request.args.get('referer') == 'insights_api' else 'inactive' }}" href="{{ url_for('insights_api.index') }}">
                        <i class="fas fa-fw fa-network-wired"></i> Insights API <!-- Adjusted icon class -->
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path.startswith('/data_marketplace') or request.args.get('referer') == 'data_marketplace' else 'inactive' }}" href="{{ url_for('data_marketplace.index') }}">
                        <i class="fas fa-fw fa-database"></i> Data Marketplace <!-- Adjusted icon class -->
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == '/connections' else 'inactive' }}" href="#">
                        <i class="fas fa-fw fa-project-diagram"></i> Connections <!-- Adjusted icon class -->
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == '/support' else 'inactive' }}" href="https://contact.appmonsta.ai/Support">
                        <i class="fas fa-fw fa-paper-plane"></i> Support <!-- Adjusted icon class -->
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == '/settings' else 'inactive' }}" href="{{ url_for('user.settings') }}">
                        <i class="fas fa-fw fa-cog"></i> Settings <!-- Adjusted icon class -->
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if current_user.role == 'admin' %}
                <li class="nav-item dropdown">
                    <a class="nav-link {{ 'active' if request.path.startswith('/admin') else 'inactive' }} dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-user-shield"></i> Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item {{ 'active' if request.path == '/admin' else '' }}" href="{{ url_for('admin.dashboard') }}">Admin Dashboard</a>
                        <a class="dropdown-item {{ 'active' if request.path == '/admin/users' else '' }}" href="{{ url_for('admin.users') }}">User Management</a>
                        <a class="dropdown-item {{ 'active' if request.path == '/admin/invoices' else '' }}" href="{{ url_for('admin.invoices') }}">All Invoices</a>
                    </div>
                </li>
                {% endif %}
            </ul>
            <button type="button" class="close d-md-none" aria-label="Close" data-toggle="collapse" data-target="#sidebarMenu">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</nav>

<button class="btn btn-primary d-md-none" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    Menu
</button>