


.header-pricing-column {
    padding: 1.25rem !important;
    height: 55px;
    border-width: 0 0 0px !important;
}

.pricing-form {
    padding-left: 50px
}

.pricing-cell {
    padding: 1.35rem;
    height: 75px;
    border-width: 0 0 0px !important
}