{% extends 'layouts/app.html' %}

{% block title %}Terms of Service{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="">Standard Terms and Conditions of Sale</h1>
        <h2>1. Definitions</h2>
        <p>
          In this agreement, unless the context otherwise requires, the following expressions have the following meanings: 
        </p>
        <p>
          "We", "Our" or "Us" means AppMonsta LTD. "The Company" means AppMonsta LTD. "The Buyer" means the person, company or organisation ordering or buying the goods from the company. 
          "The Goods" means the products or services of the relevant order or sale.
        </p>
        <h2>2. Order of Acceptance</h2>
        <p>
          2.1 All orders placed by the Buyer whether written or verbal shall constitute an offer to the Company under these conditions, subject to acceptance of the order by the Company’s authorised representative. 
          Any quotation given by the Company does not constitute an offer capable of acceptance. 
        </p>
        <h2>3. Force Majeure</h2>
        <p>
          The Company reserves the right to suspend, vary or cancel the operation of contract of sale if events occur which are in the nature of force majeure including (without prejudice to the generality of the foregoing) fire, 
          flood, storms, plant breakdown, strikes, lockouts, riots, hostilities, non-availability of material or suppliers or 
          any other event outside the control of the Company; and the Company shall not be held liable for any breach of contract resulting from such an event. 
        </p>
        <h2>4. Consequential Losse</h2>
        <p>
          The Company will not under any circumstances accept responsibility for any consequential losses (including loss of profit, loss of business or pure economic loss) suffered by the Customer. 
        </p>
        
        <h2>5. Law</h2>
        <p>
          These terms and conditions of sale are in accordance with English law. 
        </p>
        
        <p>
          AppMonsta LTD conforms with the GDPR and you can find further information about how AppMonsta LTD processes your personal information in our privacy notices.
        </p>
        
        <small class="text-muted">Last updated June 14th 2023</small>
      </div>
    </div>
  </div>
{% endblock %}
